body {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-nunito-sans: "Nunito Sans";
  --font-lato: Lato;
  --font-poppins: Poppins;
  --font-inherit: inherit;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #F3F3F3;
  --color-gray-200: #818181;
  --color-gray-300: #031333;
  --color-orangered: #f54c1e;
  --color-black: #000;
  --color-midnightblue: #071440;
  --color-dimgray: #676972;
  --color-darkgray: #989898;

  /* Paddings */
  --padding-sm: 0.88rem;
  --padding-mid: 1.06rem;
  --padding-5xl: 1.5rem;

  /* border radiuses */
  --br-11xs: 2px;
  --br-xs: 12px;
}
